PORT=5001
MONGODB_URI=Isi_dengan_uri_mongodb_kamu
NODE_ENV=development
EMAIL_USER=email_kamu@gmail.com
EMAIL_PASS=password_aplikasi_email
JWT_SECRET=isi_dengan_string_acak_apapun_untuk_keamanan_token

# ML Service Configuration
ML_SERVICE_URL=http://localhost:5000
